// @import 'abstracts/variables';
// @import 'abstracts/mixins';
@use 'base/base';
@use 'base/reset';
@use 'base/typography';
// @import 'base/globals';

// @import 'components/button';
// @import 'components/header';
@use 'components/footer';

// @import 'layouts/header';
// @import 'layouts/footer';
