@use '../base/base' as *;
.box {
    flex: 1 1 30%;
    min-width: 150px;
    max-width: 400px;
    min-height: 80px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $backBox-color;
    align-items: center;
    border: 2px solid $borderBox-color;
    border-radius: 20px;
    cursor: pointer;

    p {
        color: white;
    }

    img {
        width: 50px;
        height: auto;

    }

    transition: all 0.3s ease,
    transform 0.2s ease;
    margin-top: 2%;

}

.box.selected {
    background-color: #122143;
    // -webkit-animation: glowing 1s ease-in-out infinite alternate;
    // -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 4s ease-in-out infinite alternate;
    // box-shadow: 0 0 5px 2px rgba(0, 191, 255, 0.6);
    border: 2px solid #0084a1;
    transform: scale(1.1);
}

@-webkit-keyframes glowing {
    from {box-shadow: 0 0 5px 2px rgba(0, 191, 255, 0.6), 0 0 10px 4px rgba(52, 204, 255, 0.6);}

    to {box-shadow: 0 0 10px rgba(14, 195, 255, 0.6), 0 0 20px rgba(220, 226, 228, 0.6);}
}