@use '../base/base' as *;

input {
    font-size: large;
    font-family: Octos;
}

form {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    padding: 3%;
    background-color: #151337bd;
    border: 1px solid #006c85;
    border-radius: 2%;

    label {
        color: #00D3F3;
    }

    .topic {
        .inpUrl {
            background-color: #1D293D;
            border: 2px solid #29334E;
            border-radius: 10px;
            padding: 2%;
            width: 100%;
            margin-top: 1%;

            transition: border 0.3s ease, box-shadow 0.3s ease;

            &:focus {
                border: 2px solid #0084a1;
                ;
                box-shadow: 0 0 5px 2px rgba(0, 191, 255, 0.6);
                outline: none;
            }
        }



        margin-bottom: 5%;

        .boxes {
            display: flex;
            justify-content: space-between;
            gap: 5%;
            text-align: center;
            align-items: center;
        }

        .durations {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 4%;
            background-color: $backBox-color;
            border-radius: 20px;
            border: 2px solid $borderBox-color;
            height: 80px;

            div {
                align-items: center;
                display: flex;
                gap: 2%;

                input {
                    background-color: #121225;
                    ;
                    border: 2px solid #252a38;
                    border-radius: 10px;
                    padding: 5%;
                }
            }
        }

    }

    button {
        cursor: pointer;
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 20px;
        background: -webkit-linear-gradient(90deg, rgb(0, 176, 221), rgb(150, 32, 249));
        background: -moz-linear-gradient(90deg, rgb(0, 176, 221), rgb(150, 32, 249));
        background: linear-gradient(90deg, rgb(0, 176, 221), rgb(150, 32, 249));
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;

        img {
            width: 40px;
            height: auto;
        }

        span {
            font-size: xx-large;
            font-family: Octos;
        }
    }

}