@font-face {
  font-family: 'Octos';
  src: url('../../../public/fonts/TTOctosquares-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'Octos';
    font-size: 20px;
}
